<h1>一覧</h1>
<table>
  <tr>
    <th>物件名</th>
    <th>賃料</th>
    <th>住所</th>
    <th>築年数</th>
    <th>備考</th>
  </tr>
<% @rental_building.each do |rental| %>
  <tr>
  <td><%= rental.name %></td>
  <td><%= rental.price %></td>
  <td><%= rental.address %></td>
  <td><%= rental.age %></td>
  <td><%= rental.comment %></td>
  <td><%= link_to '詳細', rental %></td>
  <td><%= link_to '削除', rental, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <td><%= link_to '編集', edit_rental_building_path(rental) %></td>
  </tr>
  <% end %>
</table>