

<p>物件名：<%= @rental_building.name %></p>
<p>賃料：<%= @rental_building.price %></p>
<p>築年数：<%= @rental_building.age %></p>
<p>住所：<%= @rental_building.address %></p>
<p>備考：<%= @rental_building.comment %></p>


<% @closest_stations.each do |closest_station| %>
<p>路線：<%= closest_station.line %></p>
<p>駅名：<%= closest_station.station_name %></p>
<p>徒歩分数：<%= closest_station.walk_by %></p>
<% end %>
<br>
<%= link_to '戻る', rental_buildings_path %>
